/nbproject/
/data/
/system/
/.htaccess
/index.php
/vendor/
/composer.lock
/web/data/
/web/js/vendor/
/application/cache/
/application/config/config.php
/application/config/database.php
/application/config/googleearth.php
/application/config/mapigniter.php
