/nbproject/private/
/data/
/system/
/.htaccess
/index.php
/application/third_party/vendor/
/application/third_party/composer.lock
/web/data/
/web/js/vendor/
/web/js/composer.lock
/application/config/config.php
/application/config/database.php