<!-- MapServer Template -->
[leg_layer_html]
<tr>
    <td>
        <input type=checkbox name="map_[leg_layer_name]_status"
       value=1 [if name=layer_status oper=eq value=2]CHECKED[/if]>
     </td>
    <td colspan=2>
        <a href="[metadata name=href]">[metadata name=layer_title]</a>
    </td>
</tr >
[/leg_layer_html]

[leg_class_html]
<tr>
    <td width=15> </td>
    <td>
        <img src="[leg_icon width=20 height=10]" width=20 height=15>
    </td>
    <td>
        [leg_class_name]
    </td>
</tr>
[/leg_class_html]